.bd-navbar{background-color:#343a40!important}.buttons{display:flex;flex-direction:row;justify-content:space-between;align-items:flex-end}.fade.in{opacity:1}.modal.in .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0)}.modal-backdrop.in{opacity:.5}